{% extends 'base.html' %}
{% load static %}
{% block content %}
<footer>
	<div id="footer">
		<p>You can cite this tool as: Babin, Y., (2020). Recan: Python tool for analysis of recombination events in viral genomes. Journal of Open Source Software, 5(49), 2014, <a href="https://doi.org/10.21105/joss.02014">https://doi.org/10.21105/joss.02014</a></p>
		<p>Local Recan version is also available: <a href="https://github.com/babinyurii/recan">https://github.com/babinyurii/recan</a></p>
		<p><b>Recan citations:</b></p>
		<ol>
			<li><a href="https://doi.org/10.3389/fmed.2022.806611">Characterization of SARS-CoV-2 P.1 (Gamma) Variant of Concern From Amazonas, Brazil. Zimerman RA et al. (2022). Comparative Genomics and Front. Med. 9:806611.</a></li>
			<li><a href="https://doi.org/10.1007/978-981-99-1157-8_35">In book: Proceedings of the 4th International Conference on Big Data Analytics for Cyber-Physical System in Smart City - Volume 2. Chapter: Python Data Analysis Techniques in Administrative Information Integration Management System April 2023</a></li>
			<li><a href="https://doi.org/10.1186/s40168-024-01782-4">Substantial viral diversity in bats and rodents from East Africa: insights into evolution, recombination, and cocirculation. Daxi Wang et al. 2024. Microbiome (2024) 12:72</a></li>
			<li><a href="https://doi.org/10.3390/ani14223315">Identification of Recombinant Aichivirus D in Cattle, Italy.Pellegrini, F et al. I Animals 2024, 14, 3315.</a></li>
		  </ol>
	</div>
</footer>
{% endblock content %}

