{% load static %}
<header>
	<ul class="nav_bar">
		<!--li class="nav_bar_item" id="recan_title">Recan</li--> 
		<li class="nav_bar_item" id="recan_title"><a href="{% url 'recan_view' %}">Recan</a></li> 
		<li class="nav_bar_item"><a href="https://github.com/babinyurii/recan_gui">Guide</a></li>
		<li class="nav_bar_item"><a href="{% url 'datasets' %}">Example datasets</a></li>
		<!--li class="nav_bar_item"><a href="https://drive.google.com/drive/folders/1v2lg5yUDFw_fgSiulsA1uFeuzoGz0RjH">Example datasets</a></li-->
		<li class="nav_bar_item"><a href="https://github.com/babinyurii/recan_gui/issues">Report a bug</a></li>
	</ul>
</header>